<h3>
  <button {{action "toggleBody"}}>
    {{#if this.isShowingBody}}
      Hide
    {{else}}
      Show
    {{/if}}
    body of {{this.title}}
  </button>
</h3>

{{#if this.isShowingBody}}
  <hr class="hr-body">
  <p>Body: {{this.body}}</p>
{{/if}}
